<div class="prose">
  <%= render_markdown @drug.content %>

  <p class="text-sm text-slate-500">
  Retrieved from: <%= link_to @drug.url, @drug.url %>
</p>
</div>
<div class="w-1/3">
  <h2 class="text-xl font-semibold text-slate-800 mb-2">Similar Drugs</h2>
  <ul class="list-decimal">
    <% @drug.similars.each do |similar| %>
      <li><%= link_to similar.name, similar, class: "underline hover:font-semibold" %></li>
    <% end %>
  </ul>
</div>
