<% content_for :title, @drug.name %>

<%= link_to root_path do %>
  <h1 class="text-3xl text-purple-900 font-bold my-4">Drugs Ai</h1>
<% end %>

<div class="flex justify-between w-full">
  <%= cache @drug do %>
    <%= render @drug %>
  <% end %>
</div>
