<% content_for :title, @drug.name %>

<div class="mt-20">
  <%= cache @drug do %>
    <div class="prose">
      <%= render_markdown @drug.content %>

      <p class="text-sm text-slate-500">
        Retrieved from: <%= link_to @drug.url, @drug.url %>
      </p>
    </div>
  <% end %>
</div>
